body {
    font-family: 'Helvetica';
    overflow-x: scroll;
  }
  h1,
  h2,
  h3 {
    margin: 0.5rem 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }
  .row {
    display: grid;
     
    
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;
    align-items: center;
   margin-left: 12%;
  }
  @media(min-width:576px){
    .row{
       grid-template-columns: minmax(0,1fr) minmax(0,1fr) ;
      
    }
    .card{
      margin-left: 1%;
    }
  }
  @media(min-width:768px){
    .row{
       grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
       margin-left: 1em;
    }
  }
  
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .col-3{
      flex:3
  }
 
  .text-right {
    text-align: right;
  }
 
  button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: auto;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background-color: #f0c040;
    width: 40%;
    cursor: pointer;
  }
  button.add {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  button.remove {
    background-color: #f04040;
    width: 1.5rem;
  }
  button.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-bottom:7%;
    border-radius: 4px;
    padding: .5rem;
 
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color:#E0E0E0; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .navbar{
    padding: 1rem;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
   padding:2px 5px;
   border-radius: 70px;
  }
  .paymentBtn{
    background-color: green;
    width: 100%;
    color:white;
  }
 